tr > th,
tr > td {
  white-space: nowrap;
}

#site-view > div.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $white;
}

body {
  position: relative;
  min-height: 100%;
  background-color: $body-bg;
  font-size: $default-font-size;
  line-height: 1.42857143;
  color: #333333;
  > div.container {
    min-height: 100%;
    padding: 0;
    background-color: #fff;
    padding-bottom: $footer-height;
  }
}
