tr > th,
tr > td {
  white-space: nowrap;
}

body {
  position: relative;
  min-height: 100%;
  background-color: $body-bg;
  color: #333333;
}

.empty-collection {
  color: $gray-700;
  text-align: center;
  font-size: 20px;
}

.oldValue {
  color: red;
}

.newValue {
  color: green;
}

.icon-caret-up svg {
  transition: 0.4s ease-in-out;
  width: 14px;
  height: 14px;
  transform: rotate(-90deg);
}

.icon-rotate svg {
  transform: rotate(0deg);
}

.modal-footer {
  background-color: $light;
}

.btn {
  background-color: $white;
}

.card-body {
  font-size: 0.9em;
}
